.container
	form
		.form-group
			input.form-control(placeholder="Base name",ng-model="user.town.name")
		.form-group
			button.btn.btn-primary(ng-click="save()") Save
			button.btn.btn-primary(ng-click="cancel()") Cancel