div.container
	h1(ng-mouseEnter="editLinkVisible = true",ng-mouseLeave="editLinkVisible = false") {{user.town.name}}
		small
			a(ng-show="editLinkVisible",class="editLink",href="/town/edit") Edit

	p Your Gold: {{user.gold}}
	div(ng-repeat="building in user.base.buildings")
		div {{building.buildingType}}: {{building.name}} {{building.rooms}}

	a(ng-click="processTurn()") Advance