div.container
	h1(ng-mouseEnter="editLinkVisible = true",ng-mouseLeave="editLinkVisible = false") {{user.town.name}}
		small
			a(ng-show="editLinkVisible",class="editLink",href="/town/edit") Edit

	p Your Gold: {{user.gold}}
	h4 Buildings
	div(ng-repeat="building in user.town.buildings")
		div {{building.buildingType}}: {{building.name}} {{building.rooms}}

	Turns Available: 
	a(ng-click="processTurn()") Next Turn

	div(style="height:800px") hi